<app-header></app-header>
<div class = "container">
  <h1>
    {{title}}!
  </h1>
  <ul>
    <li>{{curso}}</li>
    <li>{{alumno}}</li>
  </ul>

<router-outlet></router-outlet>


</div>
<app-footer></app-footer>
