<div class="card border-primary mb-3">
  <div class="card-header">Clientes</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Lista de clientes:</h5>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>id</th>
      <th>nombre</th>
      <th>apellido</th>
      <th>fecha</th>
      <th>email</th>
    </tr>
  </thead>

<tbody>
  <tr *ngFor="let cliente of clientes">
    <td>{{cliente.id}}</td>
    <td>{{cliente.nombre}}</td>
    <td>{{cliente.apellido}}</td>
    <td>{{cliente.createAt}}</td>
    <td>{{cliente.email}}</td>
  </tr>
</tbody>

</table>

  </div>
</div>
